// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";
.all, html{
  background-color: #ccc;
}
.bio h4{
  font-size:10pt;
  font-weight: normal;
}
.cabecalho{
  text-align: center;
}
.avatar{
  width:200px;
  height: 200px;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  & img{
    width: 100%;
  }
}
.jobs h2{
  padding:10px;
}
.jobs img{
  width:50px;
  height:50px;
  margin-right:10px;
  float:left;
}
.skills h2{
  padding:10px;
}
.skills img{
  width:50px;
  height:50px;
  float:left;
}
.all_jobs{
  margin: 30px auto;
}
.job{
  width:160px;
  height:120px;
  padding:10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #E8E8E8;
  border-radius:25%;
}
.job{
  font-size:10pt;
  color: grey;
  box-shadow: 2px 5px 5px #ccc;
}
/*body{
  color:black;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  display: inline;
  list-style: none;
}
.outer-wrapper{
  padding: 10px;
  border: 1px dashed #ccc;
  border-radius:10px;
  max-width: 600px;
  margin: auto;
}


hr{
  border-style: dashed;
  border-color: #ccc;
}

h3{
  font-family: "Comic Sans MS";
  font-size: 22pt;
  margin-left:10px;
  color: #000;

}
.quadros{
  width:300px;
  border: 2px solid #000;
  border-radius:10px;
  display: inline-block;
  background-color: #fff;
  margin: 10px;
}

.cabecalho{
  padding:5px;
  background-color: #CFCFCF;
  border-radius:10px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 60px;
}

.box-jobs{
  display: inline-block;
}*/
